@keyframes fadeIn {
  from {
    filter: opacity(0);
  }

  to {
    filter: opacity(1);
  }
}

@keyframes fadeOut {
  from {
    filter: opacity(1);
  }

  to {
    filter: opacity(0);
  }
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  transform: translate(0, 0);
  
  display: block;
  z-index: 10000;

  background-color: var(--bg);
  color: var(--white);

  min-width: 100%;
}

.header-wrapper {
  padding: rem(24) rem(32);

  @media #{$xsOnly} {
    padding: rem(24) rem(8);
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__left,
.nav__right {
  display: block;
}

.nav__logo-link {
  color: var(--white);
  font-size: rem(24);
}

.nav-right {
  width: 70%;
}

.nav__burger {
  position: relative;

  display: none;
  animation: fadeOut var(--animation);

  cursor: pointer;

  min-width: rem(40);
  min-height: rem(40);

  @media #{$smAndDown} {
    display: block;
    animation: fadeIn var(--animation);
  }
}

.nav__burger__on-svg,
.nav__burger__off-svg {
  position: absolute;
  left: 0;
  top: 0;

  transform: rotateX(0deg);

  min-width: rem(40);
  min-height: rem(40);

  filter: opacity(0);
  transition: all var(--animation);

  &.active {
    position: relative;

    transform: rotateX(180deg);

    filter: opacity(1);

    transition: all var(--animation);
  }
}

.nav__list {
  display: flex;
  flex-flow: row;
  align-items: center;

  column-gap: rem(24);
  padding: 0;

  animation: fadeIn var(--animation);
  transition: all var(--animation);

  list-style: none;

  @media #{$smAndDown} {
    position: fixed;
    left: 0;
    top: 0;

    transform: translate(-100%, 0);

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

    overflow-y: scroll;

    min-width: 40%;
    min-height: 92.30928vh;

    background-color: var(--bg);

    animation: fadeIn var(--animation);
    filter: opacity(1);

    margin-top: 5.5rem;
    padding-top: rem(100);

    animation: fadeOut var(--animation);
    filter: opacity(0);

    &::-webkit-scrollbar {
      background-color: transparent;
      width: rem(3);
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #555;
      border-radius: rem(4);
    }
  }

  @media #{$xsOnly} {
    transform: translate(100%, 0);
    min-width: 100%;
  }

  &.active {
    transform: translate(0, 0);
    animation: fadeIn var(--animation);
    filter: opacity(1);
  }
}

.nav__link {
  color: var(--white);
  font-size: rem(20);
  
  padding: rem(12) rem(12);

  @media #{$smAndDown} {
    font-size: rem(24);
  }

  &.active {
    border-bottom: rem(1) solid var(--red);

    @media #{$smAndDown} {
      border: none;
      color: var(--red);
    }
  }
}